# Build results
bin/
obj/
*.pdb
publish/appsettings.json
publish/wwwroot/

# Allow the executable to be tracked in git
!LinkSafetyChecker.exe
!publish/LinkSafetyChecker.exe


# Secrets & Configuration
appsettings.json
**/appsettings.json
*.local.json
*.log
logs/

# Node & Frontend build
client/node_modules/
client/dist/
wwwroot/

# IDE & OS
.vs/
.vscode/
*.user
*.suo
.DS_Store
Thumbs.db
